<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <target name="jsonFile" xsi:type="File"
            fileName="/app/logs/log-${shortdate}.json"
            createDirs="true">
      <layout xsi:type="JsonLayout">
        <attribute name="timestamp" layout="${longdate:universalTime=true}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="properties" encode="false">
          <layout xsi:type="JsonLayout" includeAllProperties="true" />
        </attribute>
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="jsonFile" />
  </rules>
</nlog>